/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1700px) {
    body {
        font-size: 16px;
    }
    .menu__list {
        gap: 10px;
    }
    .footer__nav a, .menu__list a {
        padding: 10px 8px;
        font-size: 13px;
    }
    .header {
        padding: 11px 0;
        font-size: 12px;
    }
    .logo img {
        width: 60px;
    }
    .logo-wrap {
        gap: 13px;
    }
    .logo-descr {
        width: 162px;
    }
    .btn-main {
        font-size: 14px;
        height: 50px;
        padding: 0 18px;
    }
    .header__links {
        gap: 45px;
    }
    .header__info {
        gap: 46px;
    }
    .phone-main {
        font-size: 14px;
        gap: 12px;
    }
    .socials-list {
        gap: 21px;
        font-size: 16px;
    }

    .billbord__main {
        padding: 42px 60px;
        margin-bottom: 28px;
    }
    .billbord__title {
        font-size: 48px;
        max-width: 568px;
        margin-bottom: 20px;
    }
    .billbord__descr {
        font-size: 20px;
        max-width: 322px;
        margin-bottom: 50px;
    }
    .billbord .btn-main {
        height: 60px;
        padding: 0 25px;
    }
    .title-small {
        font-size: 20px;
    }
    .item-advantage__image {
        height: 125px;
        width: 200px;
    }
    .item-advantage__image img {
        max-width: 200px;
        max-height: 186px;
    }
    .row>div {
        padding: 0 8px;
    }
    .row {
        margin: 0 -8px;
    }
    .row.row--main>div {
        margin-bottom: 16px;
    }
    .slider-four .slick-slide,
    .slider-three .slick-slide {
        padding: 30px 8px;
    }
    .slider-four .slick-list,
    .slider-three .slick-list {
        margin: -30px -8px;
    }
    .row.row--main {
        margin-bottom: -16px;
    }
    .billbord {
        padding-top: 25px;
        padding-bottom: 60px;
    }
    .row.row-big>div {
        padding: 0 20px;
        margin-bottom: 35px;
    }
    .row.row-big {
        margin: 0 -20px;
        margin-bottom: -35px;
    }
    .item-tariff__title {
        font-size: 29px;
    }
    .item-tariff__head {
        height: 190px;
        padding: 25px 23px;
        margin-bottom: -90px;
    }
    .item-tariff__content {
        padding: 28px;
    }
    .item-tariff__text p {
        margin-bottom: 10px;
    }
    .item-tariff__prices {
        padding-top: 35px;
        gap: 30px;
    }
    .price-main {
        font-size: 37px;
    }
    .price-default {
        font-size: 18px;
    }
    .item-tariff__descr {
        font-size: 14px;
    }
    .item-tariff .btn-main {
        margin-top: 24px;
        min-width: 195px;
    }

    .advantages__title {
        font-size: 56px;
    }
    .advantages .item-advantage {
        max-width: 532px;
    }
    .advantages__item {
        max-width: 454px;
        margin-bottom: 36px;
        gap: 22px;
    }
    .advantages__icon {
        width: 68px;
        height: 68px;
    }
    .consultation-form__main {
        padding: 36px 140px;
        gap: 35px;
        margin-top: 65px;
        padding-bottom: 27px;
    }
    .consultation-form__title {
        font-size: 28px;
    }
    .consultation-form__line .btn-main {
        height: 64px;
        padding: 0px 40px;
    }
    .item-form input {
        height: 64px;
    }
    .checkbox {
        font-size: 12px;
        margin-top: 22px;
    }
    .checkbox label {
        gap: 13px;
    }
    .advantages {
        background-size: 2900px auto;
    }
    .bottom-page {
        height: 580px;
    }
    .footer {
        padding-top: 50px;
        font-size: 13px;
    }
    .footer .logo-descr {
        margin-top: 17px;
    }
    .footer__info {
        margin-top: 17px;
    }
    .footer .row>div:nth-child(3) .footer__nav {
        margin-left: 30px;
    }
    .footer__bottom {
        padding: 16px 0;
        margin-top: 55px;
    }
    .footer__wrapper {
        gap: 56px;
    }
    .wrapper {
        padding-top: 114px;
    }
    .title-section {
        font-size: 42px;
    }
    .sale__image img {
        width: 220px;
    }
    .sale__badge {
        padding: 20px 33px;
        border-radius: 22px;
        margin-top: 33px;
        font-size: 27px;
        padding-left: 107px;
    }
    .sale__badge img {
        top: -21px;
        left: -12px;
        width: 134px;
    }
    .sale__head {
        gap: 17px;
    }
    .sale__top {
        gap: 33px;
        margin-bottom: 14px;
    }
    .sale__title {
        font-size: 46px;
        margin-top: 17px;
    }
    .sale__main {
        padding: 16px 25px;
        padding-bottom: 42px;
        padding-right: 30px;
        border-radius: 25px;
    }
    .sale__bottom .title-small {
        max-width: 445px;
    }
    .sale__bottom .btn-main {
        width: 265px;
        height: 58px;
    }

    .steps {
        padding-bottom: 60px;
    }
    .steps .title-section {
        margin-bottom: 35px;
    }
    .row.row--steps>div {
        padding: 0 40px;
        margin-bottom: 30px;
    }
    .row.row--steps {
        margin: 0 -40px;
        margin-bottom: -30px;
    }
    .item-step {
        padding: 24px;
        border-radius: 22px;
        font-size: 15px;
    }
    .item-step__count {
        width: 65px;
        height: 65px;
        font-size: 25px;
    }
    .item-step::after {
        width: 69px;
        height: 9px;
        left: 100%;
        margin-left: 7px;
    }
    .item-step__head {
        margin-bottom: 15px;
        gap: 14px;
    }
    .sale {
        padding-bottom: 55px;
    }
    .questions .title-main {
        margin-bottom: 34px;
    }
    .title-main {
        font-size: 51px;
    }
    .item-question__content {
        font-size: 16px;
    }
    .item-question {
        max-width: 1015px;
    }
    .questions {
        padding-bottom: 100px;
    }
    .billbord--business .billbord__title {
        max-width: 612px;
        margin-bottom: 13px;
    }
    .billbord--business .billbord__descr {
        margin-bottom: 18px;
    }
    .tags__item {
        padding: 11px 14px;
        font-size: 14px;
    }
    .billbord__main .tags {
        margin-bottom: 22px;
        max-width: 741px;
    }
    .tariffs .title-section {
        margin-bottom: 42px;
    }
    .row--main .item-tariff__head {
        padding-top: 27px;
    }
    .billbord-page__main {
        padding: 35px 51px;
        padding-bottom: 40px;
    }
    .billbord-page__main .title-small {
        max-width: 467px;
        margin-bottom: 44px;
    }
    .billbord-page__main .btn-main {
        height: 62px;
        width: 280px;
    }
    .billbord-page {
        padding-bottom: 80px;
    }
    .why-us {
        padding-top: 94px;
        border-radius: 130px 130px 0 0;
    }
    .why-us__image img {
        width: 676px;
    }
    .item-box {
        padding: 28px;
        min-height: 275px;
        font-size: 15px;
    }
    .item-box__head {
        gap: 17px;
        margin-bottom: 17px;
    }
    .why-us__image {
        margin-top: -38px;
        margin-bottom: -42px;
    }
    .line-service {
        font-size: 16px;
        gap: 21px;
        margin-bottom: 8px;
        padding: 14px 19px;
    }
    .services-about {
        padding: 30px;
    }
    .services-about__title {
        font-size: 23px;
    }
    .services-about__image {
        width: 123px;
        margin-left: -10px;
    }
    .services-about__head {
        margin-bottom: 26px;
        padding-right: 0;
        gap: 8px;
    }
    .services-about ul li {
        margin-bottom: 16px;
    }
    .item-provider__title {
        font-size: 25px;
    }
    .item-provider__head {
        height: 210px;
        padding: 26px 26px;
        margin-bottom: -55px;
    }
    .item-provider__content {
        padding: 20px;
    }
    .providers {
        padding-top: 63px;
        padding-bottom: 83px;
    }
    .item-catalog {
        padding: 15px;
    }
    .item-catalog__image {
        height: 225px;
        margin-bottom: 22px;
    }
    .price-old, .item-catalog .price-main {
        font-size: 24px;
    }
    .item-catalog .title-small {
        margin-bottom: 15px;
    }
    .item-catalog__buttons {
        padding-top: 17px;
        gap: 13px;
    }
    .equipment .title-section:not(:first-child) {
        margin-top: 42px;
    }
    .billbord-page--router .billbord-page__image img {
        width: 664px;
    }
    .billbord-page--router .billbord-page__main .title-main {
        max-width: 670px;
        margin-bottom: 3px;
    }
    .billbord-page .title-section {
        font-size: 37px;
    }
    .billbord-page--router .billbord-page__image {
        top: 0;
        right: -80px;
    }
    .equipment {
        padding-bottom: 200px;
    }
    .sales__main .title-section {
        margin-bottom: 27px;
    }
    .sales__main .slider-three {
        margin-bottom: 40px;
    }
    .item-sale__image {
        height: 243px;
        margin-bottom: 15px;
    }
    .item-news {
        padding: 18px;
        border-radius: 22px;
    }
    .item-news__date {
        font-size: 15px;
        margin-bottom: 18px;
    }
    .item-news__title {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .item-news__bottom {
        padding-top: 22px;
    }
    .sales__main {
        padding-top: 38px;
        padding-bottom: 70px;
        border-radius: 80px 80px 0 0;
    }
    .sales {
        padding-bottom: 70px;
    }
    .slick-arrow {
        width: 38px;
        height: 38px;
        font-size: 13px;
    }
    .about-main__image img {
        width: 626px;
    }
    .about-main .title-main {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .about-main__content {
        padding-right: 10px;
        padding-top: 29px;
        padding-left: 10px;
    }
    .page-about {
        padding-bottom: 70px;
    }
    .about-services {
        padding-top: 41px;
        padding-bottom: 240px;
        margin-bottom: -110px;
        border-radius: 130px 130px 0 0;
    }
    .about-services__content {
        width: 440px;
    }
    .about-services__item {
        width: 400px;
        gap: 18px;
        padding: 14px;
    }
    .about-services__item--1 {
        top: 50px;
        left: -319px;
    }
    .about-services__item--2 {
        top: 50px;
        right: -370px;
    }
    .about-services__item--3 {
        top: 217px;
        margin-right: 0px;
    }
    .about-services__item--4 {
        top: 217px;
        margin-left: 0;
    }
    .about-services__item--5 {
        left: 33px;
        bottom: -59px;
    }
    .about-cooperation {
        padding-top: 45px;
        padding-bottom: 100px;
        border-radius: 70px 70px 0 0;
    }
    .about-cooperation .title-section {
        margin-bottom: 35px;
    }
    .item-cooperation {
        padding: 24px 24px;
        height: 305px;
    }
    .item-cooperation .tags__item {
        padding: 12px 16px;
        font-size: 15px;
    }
    .unit-payment__title,
    .item-cooperation__title {
        font-size: 30px;
    }
    .page-payment {
        padding-top: 36px;
        margin-top: 40px;
        padding-bottom: 70px;
        margin-bottom: 70px;
        border-radius: 70px 70px 0 0;
    }
    .item-payment__image {
        height: 215px;
        margin-bottom: 14px;
    }
    .item-payment p {
        margin-bottom: 18px;
    }
    .item-payment .btn-main {
        padding: 0 34px;
    }
    .unit-payment {
        padding: 24px;
        height: 287px;
    }
    .billbord-tv__image img {
        width: 815px;
    }
    .billbord-tv__content {
        padding-left: 35px;
        padding-top: 35px;
        padding-right: 15px;
    }
    .billbord-tv .title-small {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .billbord-tv__title {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .billbord-tv__buttons .btn-main {
        height: 62px;
        padding: 0px 24px;
    }
    .billbord-tv__buttons {
        gap: 15px;
    }
    .billbord-tv__image img {
        width: 755px;
    }
    .billbord-tv .tags__item {
        padding: 10px 9px;
        font-size: 12px;
    }
    .page-tv {
        padding-top: 25px;
        padding-bottom: 70px;
    }
    .tv-subscription, .tv-archive {
        padding: 50px 0;
        border-radius: 130px 130px 0 0;
    }
    .tv-subscription .title-section, .tv-archive .title-section {
        margin-bottom: 35px;
    }
    .tv-archive--1 {
        width: 805px;
    }
    .tv-archive__advantage {
        top: 17px;
        left: -188px;
        padding: 20px;
        gap: 21px;
        width: 300px;
    }
    .tv-archive--2 {
        width: 575px;
        margin-top: -138px;
    }
    .tv-archive--2 .tv-archive__advantage {
        top: 190px;
        left: -218px;
        width: 320px;
    }
    .tv-devices .title-section {
        margin-bottom: 34px;
    }
    .tv-devices {
        padding: 65px 0;
    }
    .item-device {
        padding: 20px;
        font-size: 15px;
    }
    .item-device .title-small {
        font-size: 16px;
    }
    .item-device__image {
        height: 95px;
        padding: 20px;
        margin-bottom: 37px;
    }
    .tariffs--main .item-tariff__head {
        height: 187px;
    }
    .item-subscription {
        height: 555px;
        padding: 22px;
    }
    .item-subscription__title {
        font-size: 28px;
        margin-bottom: 14px;
    }

    .item-subscription .price-main {
        margin: 18px 0;
    }
    .grid-contacts {
        gap: 12px;
    }
    .grid-contacts+.grid-contacts {
        margin-top: 12px;
    }
    .item-contact {
        padding: 16px;
        border-radius: 22px;
    }
    .item-contact__phone {
        font-size: 25px;
    }
    .item-contact__content {
        font-size: 17px;
    }
    .item-contact__title {
        margin-bottom: 18px;
    }
    .form-page {
        padding: 20px 28px;
        border-radius: 22px;
    }
    .form-page__title {
        font-size: 26px;
        margin-bottom: 6px;
    }
    .form-page .item-form input {
        height: 50px;
    }
    .form-page .row>div {
        padding: 0 4px;
    }
    .form-page .row {
        margin: 0 -4px;
    }
    .item-form textarea {
        height: 98px;
        padding-top: 14px;
    }
    .form-page .btn-main {
        height: 60px;
    }
    #map {
        height: 450px;
    }
    .on-map {
        padding-bottom: 70px;
    }
    .page-contacts .title-section {
        margin-bottom: 30px;
    }
    .page-contacts {
        padding-top: 35px;
        margin-top: 36px;
        padding-bottom: 120px;
        border-radius: 70px 70px 0 0;
    }
    .sidebar-news {
        padding: 25px;
        margin-left: 40px;
    }
    .article-content h1 {
        font-size: 35px;
    }
    .article-content {
        font-size: 15px;
    }
    .article-content h2 {
        font-size: 26px;
    }
    .breadcrumbs {
        font-size: 13px;
        padding-top: 20px;
        padding-bottom: 34px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .header__bottom .logo-descr {
        display: none;
    }
    .header__bottom .logo-wrap {
        margin-right: auto;
    }
    .header__links {
        gap: 10px;
    }
    .header__info {
        gap: 10px;
    }
    .footer__nav a, .menu__list a {
        padding: 8px 5px;
        font-size: 12px;
    }
    .billbord__title {
        font-size: 36px;
        max-width: 426px;
        margin-bottom: 12px;
    }
    .billbord__descr {
        font-size: 16px;
        max-width: 256px;
        margin-bottom: 25px;
    }
    .billbord .btn-main {
        height: 54px;
    }
    .item-advantage__image {
        height: 110px;
        width: 137px;
    }
    .item-advantage {
        padding-right: 20px;
    }
    .title-small {
        font-size: 16px;
    }
    .item-advantage__image img {
        max-width: 144px;
        max-height: 137px;
    }
    .item-tariff__title {
        font-size: 25px;
    }
    .row.row-big>div {
        padding: 0 10px;
        margin-bottom: 25px;
    }
    .row.row-big {
        margin: 0 -10px;
        margin-bottom: -25px;
    }
    .item-tariff__content {
        padding: 20px;
    }
    .price-main {
        font-size: 28px;
    }
    .price-default {
        font-size: 16px;
    }
    .item-tariff__prices {
        padding-top: 25px;
        gap: 20px;
    }
    body {
        font-size: 14px;
    }
    .item-tariff__descr {
        font-size: 12px;
    }
    .advantages {
        border-radius: 130px 130px 0 0;
    }
    .advantages__title {
        font-size: 47px;
    }
    .advantages .item-advantage {
        max-width: 400px;
    }
    .advantages .item-advantage__image {
        width: 148px;
    }
    .advantages__icon img {
        width: 20px;
    }
    .advantages__icon {
        width: 55px;
        height: 55px;
    }
    .consultation-form__main {
        padding: 31px 40px;
        gap: 35px;
        margin-top: 92px;
        padding-bottom: 27px;
    }
    .footer {
        padding-top: 40px;
        font-size: 12px;
    }
    .footer__wrapper {
        gap: 40px;
    }
    .footer__bottom {
        padding: 14px 0;
        margin-top: 40px;
    }
    .footer__menu {
        margin-top: 7px;
    }
    .title-section {
        font-size: 34px;
    }
    .sale__head {
        display: block;
    }
    .sale__top {
        gap: 71px;
        align-items: flex-start;
    }
    .sale__bottom .title-small {
        max-width: 373px;
    }
    .item-step::after {
        display: none;
    }
    .row.row--steps>div {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .row.row--steps {
        margin: 0 -10px;
        margin-bottom: -20px;
    }
    .questions {
        padding-top: 52px;
        padding-bottom: 85px;
    }
    .billbord--business .billbord__title {
        max-width: 454px;
    }
    .tags__item {
        padding: 9px 12px;
        font-size: 12px;
    }
    .billbord__main .tags {
        margin-bottom: 19px;
        max-width: 670px;
    }
    .why-us__image img {
        width: 500px;
    }
    .item-box {
        padding: 22px;
        min-height: 242px;
        font-size: 13px;
    }
    .why-us__image {
        margin-top: 0;
        margin-bottom: 0;
    }
    .services-about__title {
        font-size: 20px;
    }
    .item-provider__title {
        font-size: 19px;
    }
    .page-services {
        margin-top: 25px;
    }
    .equipment {
        border-radius: 60px 60px 0 0;
        margin-top: 30px;
    }
    .price-old, .item-catalog .price-main {
        font-size: 20px;
    }
    .item-catalog__image {
        height: 195px;
        margin-bottom: 15px;
    }
    .billbord-page .title-section {
        font-size: 31px;
    }
    .billbord-page--router .billbord-page__image img {
        width: 500px;
    }
    .billbord-page--router .billbord-page__image {
        top: 34px;
        right: -30px;
    }
    .item-news__title {
        font-size: 20px;
    }
    .title-main {
        font-size: 44px;
    }
    .about-services__content {
        width: 335px;
    }
    .about-services__item {
        width: 327px;
        gap: 15px;
        padding: 12px;
    }
    .about-services__item--1 {
        top: 36px;
        left: -249px;
    }
    .about-services__item--2 {
        top: 36px;
        right: -294px;
    }
    .about-services__item--3 {
        top: 165px;
        margin-right: -14px;
    }
    .about-services__item--4 {
        top: 165px;
        margin-left: -16px;
    }
    .about-services {
        padding-top: 41px;
        padding-bottom: 199px;
        margin-bottom: -80px;
        border-radius: 100px 100px 0 0;
    }
    .unit-payment__title,
    .item-cooperation__title {
        font-size: 24px;
    }
    .item-cooperation .tags__item {
        padding: 10px 10px;
        font-size: 13px;
    }
    .item-cooperation {
        height: 280px;
        padding: 20px;
    }
    .about-cooperation {
        padding-bottom: 70px;
    }
    .about-main__image img {
        width: 499px;
    }
    .item-payment__image {
        height: 165px;
    }
    .item-payment {
        padding: 16px;
    }
    .unit-payment {
        padding: 22px;
        height: 240px;
    }
    .item-subscription .btn-main {
        min-width: 195px;
    }
    .row-devices {
        grid-template-columns: repeat(5, 1fr);
    }
    .tv-archive--1 {
        width: 650px;
    }
    .tv-archive__advantage {
        top: 15px;
        left: -145px;
        padding: 12px;
        gap: 15px;
        width: 253px;
    }
    .tv-archive--2 {
        width: 505px;
        margin-top: -90px;
    }
    .tv-archive--2 .tv-archive__advantage {
        top: 165px;
        left: -177px;
        width: 261px;
    }
    .billbord-tv__image img {
        width: 600px;
    }
    .billbord-tv__title {
        font-size: 28px;
        margin-bottom: 17px;
    }
    .page-contacts .form-page {
        margin-top: 25px;
    }
    .on-map {
        margin-top: -105px;
    }
    .on-map .title-section {
        margin-bottom: 18px;
    }
    .sidebar-news {
        padding: 20px;
        margin-left: 0px;
    }
    .article-content h1 {
        font-size: 32px;
    }
    .article-content {
        font-size: 14px;
    }
    .article-content h2 {
        font-size: 21px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header__bottom .btn-main,
    .header__bottom .menu,
    .header__bottom .location-main,
    .header__top {
        display: none;
    }
    .header__bottom .logo-descr {
        font-size: 11px;
        width: 132px;
        display: block;
    }
    .header {
        padding: 12px 0;
        font-size: 14px;
    }
    .header__bottom {
        gap: 20px;
        padding: 0;
    }
    .billbord__main {
        padding: 25px 15px;
        padding-bottom: 0;
    }
    .billbord__image {
        margin: 0 -15px;
        position: relative;
    }
    .billbord__image img {
        width: 100%;
        height: auto;
    }
    .billbord__title {
        font-size: 26px;
        max-width: 299px;
        margin-bottom: 15px;
    }
    .billbord .btn-main {
        padding: 0 30px;
    }
    .billbord {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .tabs {
        margin-bottom: 25px;
    }
    .tariffs__main {
        padding-top: 35px;
        padding-bottom: 200px;
        margin-bottom: -143px;
        border-radius: 60px 60px 0 0;
    }
    .item-tariff {
        border-radius: 30px;
    }
    .item-tariff__image img,
    .item-tariff__image {
        border-radius: 30px 30px 0 0;
    }
    .item-tariff__head {
        height: 180px;
        padding: 22px 20px;
        margin-bottom: -100px;
    }
    .item-tariff__descr {
        margin-top: 10px;
    }

    .advantages {
        padding-bottom: 190px;
        border-radius: 60px 60px 0 0;
        background-size: 1000px auto;
        background-position: 6% 350px;
    }
    @keyframes moveBackground {
        0% {
            background-position: 6% 350px;
        }
        100% {
            background-position: 95% 350px;
        }
    }
    .advantages__title {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .advantages__head {
        display: block;
        margin-bottom: 20px;
    }
    .advantages .item-advantage__image {
        width: 135px;
        left: -6px;
    }
    .row>div:nth-child(2) .advantages__list {
        margin-top: 20px;
    }
    .advantages .item-advantage {
        padding-right: 10px;
    }
    .advantages .item-advantage .title-small {
        font-size: 14px;
    }
    .advantages__item {
        max-width: 453px;
        margin-bottom: 20px;
        gap: 15px;
    }
    .consultation-form__main {
        padding: 20px 15px;
        margin-top: 40px;
        display: block;
    }
    .consultation-form__line {
        padding-top: 20px;
        display: block;
    }
    .consultation-form__line .item-form {
        margin-bottom: 15px;
    }
    .consultation-form__line .btn-main {
        width: 100%;
    }
    .bottom-page {
        height: 400px;
        margin-bottom: -80px;
        border-radius: 30px 30px 0 0;
    }

    .footer {
        padding-top: 38px;
        font-size: 14px;
    }
    .footer .logo-wrap {
        margin-bottom: 20px;
        display: flex;
    }
    .footer .logo-descr {
        margin: 0;
    }
    .logo-descr {
        width: 174px;
    }
    .footer .logo img {
        width: 68px;
    }
    .footer .row>div:nth-child(3) .footer__nav {
        margin-left: 0;
        margin-right: 0;
    }
    .footer__nav {
        margin: 0;
        margin-bottom: 8px;
    }
    .footer__nav a {
        padding: 10px 5px;
        font-size: 15px;
    }
    .footer__menu li {
        margin-bottom: 15px;
    }
    .footer__menu {
        padding-left: 5px;
    }
    .col-contacts {
        display: block;
    }
    .footer__wrapper {
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 22px 15px;
    }
    .footer__links {
        flex-wrap: wrap;
    }
    .footer__bottom {
        padding: 20px 0;
        font-size: 13px;
        margin-top: 34px;
    }
    .create img {
        width: 57px;
        margin-left: 7px;
    }
    .phone-main {
        font-size: 16px;
        gap: 14px;
    }
    .wrapper {
        padding-top: 84px;
    }
    /*Style Sandwich*/
    .sandwich {
        width: 40px;
        height: 40px;
        padding-top: 13px;
        border-radius: 8px;
        background: #d80032;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 20;
        flex: none;
        cursor: pointer;
    }
    .sw-topper {
        position: relative;
        top: 0px;
        width: 22px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-bottom {
        position: relative;
        top: 4px;
        width: 22px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-footer {
        position: relative;
        top: 9px;
        width: 22px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sandwich.active .sw-topper {
        top: 7px;
        transform: rotate(45deg);
    }
    .sandwich.active .sw-bottom {
        opacity: 0;
    }
    .sandwich.active .sw-footer {
        top: 3px;
        transform: rotate(-45deg);
    }
    .no-scroll {
        overflow: hidden;
    }
    .phone-mobile {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2b2d42;
        text-align: center;
        color: #fff;
    }

    .menu-mobile {
        width: 100%;
        padding: 20px 15px;
        padding-bottom: 80px;
        max-height: calc(100vh - 83px);
        top: 100%;
        left: 0;
        z-index: 600;
        background: #fff;
        position: absolute;
        display: none;
        overflow: auto;
    }
    .menu-overlay {
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 300;
        display: none;
    }
    .menu__list {
        display: block;
    }
    .menu__list a {
        padding: 9px 0;
        font-size: 15px;
        display: block;
    }
    .header__info {
        margin-bottom: 15px;
        flex-direction: column;
        align-items: flex-start;
    }
    .header__links {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .header__links a {
        padding: 0;
        display: block;
    }
    .btn-main {
        padding: 0 22px;
    }
    .header__contacts {
        margin-bottom: 20px;
    }
    .socials-list {
        gap: 20px;
        font-size: 19px;
    }
    .menu-mobile .location-main {
        margin-bottom: 20px;
    }
    .title-section {
        font-size: 26px;
    }
    .sale__top {
        margin-bottom: 22px;
        display: block;
    }
    .sale__image img {
        width: 120px;
    }
    .sale__badge {
        padding: 14px 20px;
        border-radius: 18px;
        margin-top: 12px;
        font-size: 18px;
        padding-left: 74px;
    }
    .sale__head {
        display: flex;
    }
    .sale__badge img {
        top: -18px;
        left: -10px;
        width: 100px;
    }
    .sale__title {
        font-size: 29px;
        margin-top: 17px;
    }
    .sale__bottom {
        gap: 20px;
        flex-direction: column-reverse;
    }
    .sale__bottom .btn-main {
        width: 100%;
    }
    .sale {
        padding-bottom: 36px;
    }
    .steps .title-section {
        margin-bottom: 25px;
    }
    .item-step {
        padding: 22px;
        border-radius: 22px;
        font-size: 14px;
    }
    .item-step__count {
        width: 55px;
        height: 55px;
        font-size: 22px;
    }
    .steps {
        padding-bottom: 50px;
    }
    .questions {
        padding-top: 28px;
        padding-bottom: 40px;
        border-radius: 45px 45px 0 0;
    }
    .title-main {
        font-size: 30px;
    }
    .questions .title-main {
        margin-bottom: 23px;
    }
    .item-question__head {
        padding: 15px;
    }
    .item-question__content {
        font-size: 14px;
        padding: 15px;
        padding-top: 0;
    }
    .item-question__head i {
        width: 35px;
        height: 35px;
    }
    .item-question {
        border-radius: 20px;
    }
    .billbord--business .billbord__main {
        padding-bottom: 0;
    }
    .tariffs .title-section {
        margin-bottom: 23px;
    }
    .billbord-page__image {
        position: relative;
        height: auto;
        margin-top: 15px;
    }
    .billbord-page {
        padding-bottom: 50px;
    }
    .billbord-page__main {
        padding: 25px 15px;
        padding-bottom: 0;
    }
    .billbord-page__main .title-main {
        font-size: 24px;
    }
    .billbord-page__main .title-small {
        margin-bottom: 25px;
    }
    .billbord-page__main .btn-main {
        height: 58px;
        width: 100%;
    }
    .why-us {
        padding-top: 48px;
        border-radius: 60px 60px 0 0;
    }
    .why-us__image {
        margin: -15px 0;
    }
    .why-us__image img {
        width: 100%;
    }
    .item-box {
        min-height: 100%;
    }
    .why-us {
        padding-bottom: 50px;
    }
    .page-services {
        padding-top: 31px;
        padding-bottom: 60px;
        border-radius: 60px 60px 0 0;
    }
    .line-service {
        font-size: 13px;
        gap: 10px;
        margin-bottom: 8px;
        padding: 10px;
    }
    .services-about {
        padding: 20px 15px;
    }
    .services-about__title {
        font-size: 16px;
    }
    .services-about__image {
        width: 107px;
    }
    .services-about__head {
        margin-bottom: 15px;
    }
    .services-about ul li {
        margin-bottom: 12px;
    }
    .providers {
        padding-top: 42px;
        padding-bottom: 50px;
    }
    .item-provider__head {
        height: 170px;
        padding: 24px 22px;
        margin-bottom: -38px;
    }
    .item-provider__content {
        padding: 20px 15px;
    }
    .item-provider__content ul li {
        margin-bottom: 15px;
    }
    .equipment {
        padding-bottom: 150px;
    }
    .equipment+.billbord-page {
        margin-top: -90px;
    }
    .billbord-page .title-section {
        font-size: 20px;
    }
    .billbord-page--router .billbord-page__image img {
        width: 100%;
    }
    .billbord-page--router .billbord-page__image {
        top: 0;
        left: 0;
    }
    .sales__main {
        padding-top: 38px;
        padding-bottom: 50px;
        border-radius: 50px 50px 0 0;
    }
    .sales {
        padding-bottom: 50px;
    }
    .slider-four,
    .slider-three {
        padding-bottom: 35px;
    }
    .item-sale__image {
        height: 205px;
    }
    .about-main__image img {
        width: 100%;
    }
    .about-main .title-main {
        font-size: 30px;
        margin-bottom: 14px;
    }
    .about-main__content {
        padding: 20px 15px;
    }
    .page-about {
        padding-bottom: 50px;
    }
    .about-services {
        padding-top: 39px;
        padding-bottom: 170px;
        margin-bottom: -60px;
        border-radius: 60px 60px 0 0;
    }
    .about-cooperation {
        border-radius: 50px 50px 0 0;
    }
    .about-services .about-services__item {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        margin-bottom: 10px;
    }
    .unit-payment__title,
    .item-cooperation__title {
        font-size: 21px;
    }
    .item-cooperation .tags__item {
        padding: 7px 10px;
        font-size: 13px;
    }
    .item-cooperation {
        height: 255px;
    }
    .about-cooperation {
        padding-bottom: 55px;
    }
    .page-payment {
        padding-top: 39px;
        margin-top: 33px;
        padding-bottom: 55px;
        margin-bottom: 60px;
        border-radius: 50px 50px 0 0;
    }
    .page-payment .title-section {
        margin-bottom: 27px;
    }
    .page-payment .row--main+.title-section {
        padding-top: 40px;
    }
    .billbord-tv__content {
        padding: 0;
    }
    .billbord-tv__image img {
        width: 100%;
    }
    .billbord-tv .tags {
        padding: 0 15px;
        margin-top: 15px;
    }
    .billbord-tv__content {
        padding: 20px 15px;
    }
    .billbord-tv {
        padding: 0;
        padding-bottom: 25px;
    }
    .billbord-tv__buttons {
        display: block;
    }
    .billbord-tv__buttons .btn-main {
        margin-bottom: 15px;
        width: 100%;
    }
    .page-tv {
        padding-bottom: 50px;
    }
    .tv-subscription, .tv-archive {
        padding: 40px 0;
        border-radius: 60px 60px 0 0;
    }
    .tv-subscription .title-section, .tv-archive .title-section {
        margin-bottom: 23px;
    }
    .tv-archive--1 {
        width: 100%;
    }
    .tv-archive--2 {
        width: 100%;
        margin-top: 0;
    }
    .tv-archive__advantage {
        top: 0;
        left: 0;
        position: relative;
        width: 100%;
        margin-top: 15px;
    }
    .tv-archive--2 .tv-archive__advantage {
        top: 0;
        left: 0;
        width: 100%;
    }
    .tv-devices {
        padding: 50px 0;
    }
    .tv-devices .title-section {
        margin-bottom: 25px;
    }
    .row-devices {
        grid-template-columns: repeat(2, 1fr);
    }
    .item-device__image {
        height: 92px;
        padding: 17px;
        margin-bottom: 24px;
    }
    .item-device {
        padding: 18px;
        font-size: 14px;
    }
    .tariffs--main .item-tariff__head {
        height: 163px;
    }
    .item-subscription__text {
        min-height: 55px;
    }
    .tv-subscription .slick-dots li:not(.slick-active) button {
        background: #fff;
    }
    .grid-contacts {
        display: block;
    }
    .page-contacts {
        padding-top: 34px;
        margin-top: 24px;
        padding-bottom: 130px;
        border-radius: 50px 50px 0 0;
    }
    .item-contact {
        margin-bottom: 15px;
    }
    .form-page {
        padding: 20px 15px;
    }
    .on-map {
        padding-bottom: 50px;
    }
    #map {
        height: 380px;
    }
    .breadcrumbs {
        padding-bottom: 20px;
        display: block;
    }
    .breadcrumbs li {
        display: inline;
    }
    .article-content h1 {
        font-size: 27px;
    }
    .article-content p, .article-content li {
        margin-bottom: 15px;
    }
    .article-content img {
        margin: 25px 0;
        border-radius: 22px;
    }
    .sidebar-news {
        margin-top: 15px;
    }
    .page-article {
        padding-bottom: 50px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .menu-overlay,
    .menu-mobile,
    .phone-mobile,
    .sandwich {
        display: none !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        max-width: 1250px;
    }
}
@media (min-width: 1700px) {
    .container {
        max-width: 1690px;
    }
}

/*hovers*/
@media (hover: hover) {
    .tabs a:hover {
        background: #2b2d42;
        color: #fff;
    }
    .footer__links a:hover {
        border-color: transparent;
    }
    .phone-main:hover,
    .socials-list a:hover,
    .footer__menu a:hover,
    .footer__nav a:hover,
    .menu__list a:hover {
        color: #D80032;
    }
    .btn-main:hover {
        background: #EF233C;
    }
    .item-tariff:hover .item-tariff__image img {
        transform: scale(1.1);
    }
    .item-provider__info a:hover {
        text-decoration: none;
    }
    .btn-main.btn-main--page:hover {
        background: #000;
    }
    .slick-arrow:hover {
        background: #fbfbfb;
        border-color: #fbfbfb;
        color: #8D99AE;
    }
    .item-sale:hover .item-sale__image img {
        transform: scale(1.05);
    }
    .item-news__link:hover {
        text-decoration: none;
    }
    .item-news:hover {
        box-shadow: 0 5px 15px #dbe0e2;
    }
    a.item-news__title:hover {
        color: #d80032;
    }
    .item-subscription:hover .item-subscription__image img {
        transform: scale(1.05);
    }
}

/*mobile hovers*/
@media (hover: none) {
    .tabs a:active {
        background: #2b2d42;
        color: #fff;
    }
    .footer__links a:active {
        border-color: transparent;
    }
    .phone-main:active,
    .socials-list a:active,
    .footer__menu a:active,
    .footer__nav a:active,
    .menu__list a:active {
        color: #D80032;
    }
    .btn-main:active {
        background: #EF233C;
    }
    .item-tariff:active .item-tariff__image img {
        transform: scale(1.1);
    }
    .item-provider__info:active {
        text-decoration: none;
    }
    .btn-main.btn-main--page:active {
        background: #000;
    }
    .slick-arrow:active {
        background: #fbfbfb;
        border-color: #fbfbfb;
        color: #8D99AE;
    }
    .item-sale:active .item-sale__image img {
        transform: scale(1.05);
    }
    .item-news__link:active {
        text-decoration: none;
    }
    .item-news:active {
        box-shadow: 0 5px 15px #dbe0e2;
    }
    a.item-news__title:active {
        color: #d80032;
    }
    .item-subscription:active .item-subscription__image img {
        transform: scale(1.05);
    }
}